.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  color: #fff;
  opacity: 0;
  animation: fadeInNavbar 1s ease forwards;
}

@keyframes fadeInNavbar {
  to {
    opacity: 1;
  }
}

.navbar-logo {
  font-weight: bold;
  width: 150px;
  height: auto;
}
.navbar-logo img {
  width: 100px;
  height: 100px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: cursive;

}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: #000000;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.navbar-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.navbar-links a:hover {
  color: #cc9c00;
}

.navbar-links a:hover::after {
  width: 100%;
}

/* Estrellas animadas */
@keyframes starTwinkle {
  0% { opacity: 0; transform: scale(0.5);}
  10% { opacity: 1; transform: scale(1);}
  90% { opacity: 1; transform: scale(1);}
  100% { opacity: 0; transform: scale(0.5);}
}

.star {
  position: absolute;
  width: 16px;
  height: 16px;
  background: rgb(255, 196, 0);
  box-shadow: 0 0 8px 2px #fff;
  opacity: 0;
  animation: starTwinkle 3s linear infinite;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

/* Posiciones y delays aleatorios para varias estrellas */
.star:nth-child(1) { top: 20px; left: 600px; animation-delay: 0s; }
.star:nth-child(2) { top: 60px; left: 350px; animation-delay: 0.7s; }
.star:nth-child(3) { top: 35px; left: 500px; animation-delay: 1.2s; }
.star:nth-child(4) { top: 10px; left: 700px; animation-delay: 0.4s; }
.star:nth-child(5) { top: 50px; left: 1000px; animation-delay: 1.7s; }
.star:nth-child(6) { top: 15px; left: 250px; animation-delay: 2.1s; }
.star:nth-child(7) { top: 40px; left: 600px; animation-delay: 2.5s; }
.star:nth-child(8) { top: 25px; left: 800px; animation-delay: 3s; }
.star:nth-child(9) { top: 55px; left: 900px; animation-delay: 3.3s; }
.star:nth-child(10) { top: 30px; left: 1100px; animation-delay: 3.7s; }
.star:nth-child(11) { top: 40px; left: 1150px; animation-delay: 2.3s; }
.star:nth-child(12) { top: 50px; left: 1200px; animation-delay: 1.4s; }
.star:nth-child(13) { top: 60px; left: 1300px; animation-delay: 1.8s; }
.star:nth-child(14) { top: 50px; left: 1400px; animation-delay: 4s; }